<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
</head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <%- include('../static/partials/messages.ejs') -%>
            <% if (currentUser.role == "standard") { %>
                <h1 >Upgrade account</h1>
                <hr>
        <form action="/users/<%= currentUser.id %>/upgrade" method="POST">
         <script
           src="https://checkout.stripe.com/checkout.js" class="stripe-button"
           data-key="pk_test_1L73P9ncuYkkaGcQ5ATK5Yxl"
           data-amount="1500"
           data-name="Stripe.com"
           data-description="Premium Membership Charge"
           data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
           data-currency="usd"
           data-locale="auto"
           data-zip-code="true">
         </script>
       </form>
 <% } %>
    </main>
     <%- include('../static/partials/baseScripts.ejs') -%>
   </body>
</html>
